<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>BonjourServlet</servlet-name>
        <servlet-class>fr.appli.servlets.BonjourServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BonsoirServlet</servlet-name>
        <servlet-class>fr.appli.servlets.BonsoirServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MonnomServlet</servlet-name>
        <servlet-class>fr.appli.servlets.About</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Connexion</servlet-name>
        <servlet-class>fr.appli.servlets.Connexion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Traitement</servlet-name>
        <servlet-class>fr.appli.servlets.Traitement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExpressionLanguageServlet</servlet-name>
        <servlet-class>fr.appli.servlets.ExpressionLanguageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JstlServlet</servlet-name>
        <servlet-class>fr.appli.servlets.JstlServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BonjourServlet</servlet-name>
        <url-pattern>/bonjour</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BonsoirServlet</servlet-name>
        <url-pattern>/bonsoir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MonnomServlet</servlet-name>
        <url-pattern>/About</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Connexion</servlet-name>
        <url-pattern>/connexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Traitement</servlet-name>
        <url-pattern>/traitement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExpressionLanguageServlet</servlet-name>
        <url-pattern>/expression</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JstlServlet</servlet-name>
        <url-pattern>/jstl</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
