/* 
	Author	:	NICOLE Mikaël mikael.nicole1gmail.com
	Date	:	17/01/2021
	Version	:	V.1.0

*/

/*---------------------------------------------------------------------*/
/* GLOBAL */
/*---------------------------------------------------------------------*/
body {
	background-color: grey;
}
/* typo */
/*--------------------*/
h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
	color: #da5488;
	line-height: 1.2;
}
h1 {
	font-size: 45px;
        color: blue;
}
h2 {
	font-size: 30px;
	color: yellow;
}
h3 {
	font-size: 25px;
}
h4 {
	font-size: 20px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-size: 16px;
}
/* others */
/*--------------------*/

/* links */
/*--------------------*/

/* forms */
/*--------------------*/

/* table */
/*--------------------*/

/* buttons */
/*--------------------*/

/*---------------------------------------------------------------------*/
/* LAYOUT */
/*---------------------------------------------------------------------*/

/* header */
/*--------------------*/

/* nav */
/*--------------------*/

/* main */
/*--------------------*/

/* aside */
/*--------------------*/

/* footer */
/*--------------------*/

